.background {
    color: tan;
}

.h1 {
    text-align: center;
}

.hover, .rotate, .translateX, .translateY, .threeD, .skew, .scale {
    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
    color:white;
    transition-property: color, background-color, transform;
    transition-duration: 4s;
    transition-delay: 
   
}

.hover:hover {
color: yellow;
background-color: turquoise;

}


.rotate:hover {
color: purple;
background-color: turquoise;
transform: rotate(360deg);
}

.translateX:hover{
    color:black;
    background-color: turquoise;
    transform: translateX(30px);
}

.translateY:hover{
    color:green;
    background-color: turquoise;
    transform: translateY(30px);
}

.skew:hover {
    color: red;
    background-color: turquoise;
    transform: skew(10,10);
}

.scale:hover {
    color:palegreen;
background-color: turquoise;
transform: scale(60px);

}

.threeD {
    color: salmon;
    background-color: turquoise;
    transform: threeD(10,10);
}





/* 
.rotate {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
}

.translateX {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
}

.threeD {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
}

.skew {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
}

.translateY {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
}

.scale {
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
} */